@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b4839;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #FFFFFF;
    padding-left: 5%;
}

nav {
    padding: 27px 5%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    padding: 12px;
}

.inicio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.subtitulo-home {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #0000009f;
}

.subtitulo-home h2,
.subtitulo-home p {
    width: 70%;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.title-services, .title-sobre, .title-portfolio {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #4b4839;
    text-decoration: underline;
}

.services, .sobre {
    background-color: #f3ead4;
}

section {
    min-height: 100vh;
    padding: 0;
}

.card-services, .card-sobrenos {
    padding: 0 8%;
    gap: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4b4839;
}

.services img, .card-sobrenos img {
    object-fit: cover;
    height: 60vh;
    width: auto;
}

.especialidades h2 {
    font-size: 27px;
    text-align: center;
}

.grid-especialidade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 5% 0;
    text-align: center;
}

.grid-especialidade div {
    background-color: #b8a77c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px #000000;
}

.grid-especialidade div:hover {
    background-color: #a6986759;
}

.grid-especialidade i {
    font-size: 50px;
    padding-top: 18px;
    color: #4b4839;
}

.grid-especialidade h4 {
    font-size: 20px;
    margin-top: 10px;
    padding: 8px;
}

.title-portfolio p {
    padding-top: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 5%;
}

.grid-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    margin: auto;
}

.grid-portfolio .item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.grid-portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-portfolio .overlay {
    position: absolute;
    inset: 0;
    background-color: #000000bb; 
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    opacity: 0;
}

.grid-portfolio .item:hover .overlay {
    opacity: 1;
}
