@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #888369;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #FFFFFF;
    padding-left: 5%;
}

nav {
    padding: 27px 5%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    padding: 12px;
}